body {
    background: #f5f5f5;
}

.navbar {
    background-color: #ffffff !important;
    height: 48px;
    border-bottom: 1px solid #e0e0e0;
}

.navbar-brand {
    color: #000 !important;
}

.navbar-brand {
    color: #fff;
}

.content-min-height {
    min-height: calc(100vh - 80px);
}

.card {
    box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    border: none !important;
}

.card-header {
    background: none;
    margin: -10px -10px 10px -10px;
    font-size: 1.25rem;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-header .bi {
    color: #757575;
}

.gauge-container {
    position: relative;
    width: 200px;
    height: 100px;
    overflow: hidden;
}

.gauge-outer {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: conic-gradient(#198754 0%,
            #198754 var(--value),
            #e9ecef var(--value));
    transform: rotate(-135deg);
}

.gauge-inner {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
    z-index: 1;
}

.gauge-label {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    font-weight: bold;
    color: #198754;
    z-index: 2;
}

.gauge-wrapper {
    width: 200px;
    height: 100px;
    overflow: hidden;
}

.gauge {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #eee;
    position: relative;
    transform: rotate(-90deg);
}

.gauge-fill {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(#0d6efd 0deg, #0d6efd 0deg, #ddd 0deg 360deg);
    transition: background 0.5s ease-in-out;
}

.gauge-cover {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    /* Compensa la rotazione del gauge */
}

.current-temp {
    font-weight: bold;
    padding-bottom: 30%;
}

.set-point {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    left: 0px;
    top: 0px;
    position: absolute;
}

.set-point-point {
    width: 10px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    left: calc(50% - 5px);
    top: 5px;
    border-radius: 50%;
}

.vcs{
    border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
}