<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>G1 Tools - Printer Configurator</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" href="/static/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <span class="navbar-brand">
                <!-- Button Back  -->
                <a href="/" class="btn btn-outline-secondary me-3" id="BackToMainsail" style="display: none;"><i class="bi bi-arrow-left"></i> Back to Mainsail</a> 
                <img src="/static/sidebar-logo.svg" height="32px"> Dryer
            </span>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col">
                <!-- CONTENT -->
                <div class="content-min-height">
                    <div>
                        <label>Set Temperature (°C):</label>
                        <input type="number" id="tempInput" min="1" max="200">
                        <button onclick="setTemperature()">Set</button>
                    </div>

                    <div>
                        <button onclick="powerOn()">Power ON</button>
                        <button onclick="powerOff()">Power OFF</button>
                    </div>

                    <div>
                        <button onclick="getStatus()">Get Status</button>
                        <p id="statusOutput"></p>
                    </div>
                </div>

                <!-- FOOTER -->
                <!-- <hr>
        <footer class="container-fluid">
          <p>&copy; 2024 G1 Tools made by Gingeradditive srls</p>
        </footer> -->
            </div>
        </div>
    </div>
    <script src="/static/bootstrap.bundle.min.js"></script>
    <script src="/static/jquery.js"></script>
    <script src="/static/script.js"></script>
</body>

</html>