@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/static/Montserrat-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/static/Montserrat-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

/* aggiungi altri pesi se vuoi */


body {
  background-color: #E0E0E0;
  color: #333;
}

* {
  font-family: 'Montserrat', sans-serif !important;
}